body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scrollbar-color: blue lightblue;
  }
  
  nav {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 0;             
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-bg video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
  }
  
  nav li {
    margin: 0 10px;
    position: relative;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  nav a:hover::before {
    transform: scaleX(1);
  }
  
  .container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, rgba(4, 131, 148, 0.432), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .blurred-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.192);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
  }
  
  #tit {
    color: aqua;
  }
  
  #desc {
    color: aqua;
    font-size: 20px;
  }
  
  .additional-section {
    position: relative; /* Asegura que la posición absoluta de #infoxd sea relativa a este contenedor */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    background-image: url(imagenes/aguagas.jpg);
    
    
    
    background-position-y: -300px;
    
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .info-box {
    position: relative; /* Asegura que los elementos absolutos se posicionen relativos a estos contenedores */
    width: 48%;
    background-color: rgb(255, 200, 127);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .info-box iframe {
    position: absolute;
    top: -180px;
    left: 101%;
    height: 600px;
    border-radius: 10px;
    
  }
  
  .info-box h3,
  .info-box p {
    position: relative; /* Devuelve la posición relativa para el texto, para que aparezca encima de la imagen */
    z-index: 2; /* Asegura que el texto esté delante de la imagen */
  }
  
  
  .top-left {
    order: 1;
  }
  
  .top-right {
    order: 2;
  }
  
  .bottom-left {
    order: 4;
  }
  
  .bottom-right {
    order: 3;
  }
  
  
  
  
  .info-box h3 {
    margin-top: 0;
  }
  .slide-in {
    opacity: 0;
    transform: translateX(-100%); /* Inicialmente fuera de la pantalla a la izquierda */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .slide-from-right {
    transform: translateX(100%); /* Inicialmente fuera de la pantalla a la derecha */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  .slide-from-left {
    transform: translateX(100%); /* Inicialmente fuera de la pantalla a la derecha */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  .slide-in.visible {
    opacity: 1;
    transform: translateX(0); /* Desliza hacia adentro a su posición normal */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  #infoxd {
    position: absolute;
    bottom: 20px; /* Ajusta la posición vertical de #infoxd para que se quede en la parte coloreada */
    left: calc(75%); /* Ajusta la posición horizontal para que esté centrada */
    font-size: 11px;
    color: #fff;
    background-color: rgb(201 174 102 / 57%);
    padding: 10px 20px; /* Ajusta el espaciado interno */
    border-radius: 29px;
    z-index: 1;
  }
 /* Estilos para la nueva sección y sus cuadros */
 .section-2 {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url(https://hgrupoeditorial.com/wp-content/uploads/2024/01/Sistema-Cutzamala-1-scaled.jpg);
  background-repeat: no-repeat;
}

.section-title {
  text-align: center;
  font-size: 40px;
  color: #7ff8bb;
  margin-bottom: 30px;
}

.section-2 .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around; /* Distribuye los elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  
}

.section-2 .box {
  width: 100px; /* Tamaño inicial pequeño */
  height: 100px; /* Tamaño inicial pequeño */
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_1280.jpg);
  box-shadow: 0 2px 5px rgb(77, 62, 62);
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  backdrop-filter: blur(10px); /* Agrega un efecto de ventana borrosa */
  -webkit-backdrop-filter: blur(10px); /* Para navegadores basados en WebKit */
}

.section-2 .box.expanded {
  width: 300px; /* Tamaño expandido */
  height: 300px; /* Tamaño expandido */
  backdrop-filter: none; /* Elimina el efecto de ventana borrosa al expandir */
  -webkit-backdrop-filter: none; /* Para navegadores basados en WebKit */
}

.section-2 .box h3 {
  margin-top: 0;
}

.section-2 .box .box-text {
  display: none; /* Ocultar el texto inicialmente */
  font-size: 20px;
  color: rgb(133, 4, 240);
  font-family: "Platypi", serif;
}
.cta-container {
  position: absolute;
  text-align: center;
  top: 2600px;
  right: 10%;
}

.cta-link {
  color: #ffffff; /* Color del texto */
  text-decoration: none;
  transition: color 0.3s; /* Transición suave del color del texto */
  font-size: 40px;
  font-family: "Platypi", serif;
}

.cta-link:hover {
  color: aquamarine; /* Cambia el color del texto al pasar el cursor */
  text-decoration: underline;
}
.section-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, rgba(57, 59, 44, 0), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}
.section-3 {
  padding: 50px 0;
  text-align: center;
  background-color: #f8f8f8; /* Color de fondo */
  background-image: url(https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-3 .section-title {
  font-size: 24px;
  color: #333; /* Color del texto */
  margin-bottom: 30px;
}

.tips {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cambié el ancho mínimo de las columnas */
  gap: 20px;
}

.tip {
  background-color: #e3f9ff79; /* Color de fondo estilo agua */
  border: 1px solid #7fd4ff; /* Borde azul claro */
  border-radius: 15px; /* Bordes más redondeados */
  padding: 15px; /* Menos espacio de relleno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  transition: transform 0.3s ease-in-out; /* Agregué una transición al transformar */
}

.tip:hover {
  transform: translateY(-5px); /* Efecto de levantamiento al pasar el cursor */
}

.tip h3 {
  font-size: 20px;
  color: #0077b6; /* Color de texto azul */
  margin-bottom: 8px; /* Menos espacio debajo del título */
  font-family: "Jersey 25", sans-serif;
}

.tip p {
  font-size: 14px;
  color: #333; /* Color de texto más oscuro */
}
/* Estilos para la separación entre secciones */

/* Estilos para la sección 4 */
.section-4 {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url(https://cdn.pixabay.com/photo/2017/04/03/07/30/blue-flower-2197679_960_720.jpg);
  background-size: cover;
  
}

.section-4 .section-title {
  color: #4caf50;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para las soluciones innovadoras */
.innovative-solutions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.innovative-solutions .tip {
  background-color: #dbe7f7;
  border: 1px solid #a1c2e2;
  border-radius: 37px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.innovative-solutions .tip h3 {
  margin-top: 0;

}

.innovative-solutions .tip p {
  margin-bottom: 0;
  font-size: 20px;
  font-family: "Permanent Marker", cursive;
}
.solution-title {
  text-align: center;
  margin-bottom: 20px;
  grid-column: 1 / -1;
  font-size: 25px;
}

#holaxd {
  position: fixed;
  left: 50%;
}
.footer-nav {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  margin: 7px 10px;
}
